@charset "UTF-8";

body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  font-weight: 400
}

a,
button,
div,
form,
input,
p,
span {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

p {
  margin: 0
}

a,
a:hover {
  text-decoration: none
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: .012em;
  font-weight: 500;
  color: #000
}

h1 {
  width: 74%;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0
}

h2 {
  font-size: 46px;
  font-weight: 900;
  text-align: center
}

h3 {
  font-weight: 500
}

h3,
h4 {
  font-size: 24px;
  color: #fff
}

h4 {
  font-weight: 900
}

.btn {
  display: block;
  background: transparent;
  width: 171.78px;
  height: 52px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 52px;
  color: #256ae4;
  border-radius: 2px;
  font-size: 16px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  border: 1px solid #256ae4;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin: 68px auto 0
}

.btn,
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover {
  outline: none
}

.maps .container-fluid,
.tabs .container-fluid {
  padding: 0
}

.header {
  padding: 30px 0
}

.top-nav {
  margin-bottom: 29px
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #000
}

.logo:hover {
  color: #585858
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  border: 1px solid #d4d4d4;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px
}

.search__field {
  font-size: 16px;
  font-weight: 400;
  padding-left: 24.5px;
  width: 100%
}

.search__button,
.search__field {
  border: none;
  background: transparent
}

.search__button {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  padding-right: 19px
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.main a {
  font-size: 16px;
  color: #b0b0b0
}

.main__item .main__link:hover {
  color: #7a7a7a
}

.main__item .main__link.active {
  color: #333
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none
}

.carousel-control-next,
.carousel-control-prev {
  width: 20px
}

.carousel-control-next {
  background: url(../images/icons/arrow-r.svg) no-repeat;
  top: 0;
  bottom: 65%
}

.carousel-control-prev {
  top: 65%;
  background: url(../images/icons/arrow-l.svg) no-repeat
}

.top-slider {
  position: relative;
  margin-bottom: 44px
}

.slider__control {
  left: 100%;
  width: 20px;
  height: 74px;
  margin-left: 42px
}

.offer,
.slider__control {
  position: absolute;
  bottom: 0
}

.offer {
  width: 48%;
  background: #fff;
  padding: 3% 4% 1%
}

.offer__title:after {
  content: "";
  display: block;
  width: 74px;
  height: 3px;
  background: #256ae4;
  margin: 18px 0 18.29px
}

.offer__text {
  font-size: 18px;
  line-height: 30px;
  opacity: .5
}

.icons {
  position: absolute;
  left: 100%;
  margin-left: 30px;
  top: 35%
}

.icons__link {
  display: block;
  margin-top: 25px;
  background: transparent
}

.icons__pic {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease
}

.icons__pic:hover {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4)
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: .4s;
  transition: .4s
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px)
}

.change .bar2 {
  opacity: 0
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px)
}

.menu-hamb {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin: 40px 0 25px
}

.sec-slider {
  padding-top: 93px
}

.tabs {
  margin: 49px 0 98px
}

.tab {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 49px
}

.tab__link {
  font-size: 18px;
  color: #a4a4a4;
  background: inherit;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  padding-bottom: 18px;
  border: none;
  border-bottom: 3px solid transparent
}

.tab__link:hover {
  color: #585858
}

.tab__link.active {
  color: #333;
  border-bottom: 3px solid #256ae4
}

.slick-field__content {
  display: none;
  border-top: none
}

.btn:hover {
  background: #e4e4e4
}

.slick-field .slick-field__content {
  display: none
}

.slick-field__item {
  max-width: 100%;
  position: relative;
  margin: 0 15px
}

.slick-slide {
  text-align: center !important
}

.slick-field__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  background: rgba(37, 102, 228, .63);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease
}

.slick-field__overlay:hover {
  opacity: 1
}

.slick-field__img {
  max-width: 100%;
  display: block
}

.slick-field__text {
  color: #fff;
  font-size: 16px;
  margin-top: 15px
}

#map {
  height: 400px
}

.contacts {
  background: #444;
  padding-top: 63px
}

.contact {
  padding-bottom: 55px
}

.contact-logo {
  color: #fff
}

.contact__text {
  margin-top: 47px;
  font-size: 16px;
  color: #bdbdbd
}

.cont__title,
.posts__title,
.usenav__title {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 48px
}

.posts__date {
  font-size: 14px;
  color: #828282
}

.posts__text {
  font-size: 16px;
  font-weight: 500;
  color: #fff
}

.posts__dates,
.usernav__item {
  margin-bottom: 20px
}

.usernav__link {
  color: #fff;
  font-size: 16px
}

.cont__info,
.contact-logo:hover,
.usernav__link:hover {
  color: #bdbdbd
}

.cont__info {
  font-size: 16px;
  padding-left: 15px
}

.cont__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  margin-bottom: 27px
}

.footers {
  background: #2d2d2d;
  padding: 21px 0
}

.footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.footer,
.supp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.pol {
  margin-left: 25px
}

.pol__text {
  font-size: 14px;
  color: #bdbdbd
}

.supp__link {
  font-size: 14px;
  color: #fff
}

.supp__link:hover {
  color: #7a7a7a
}

.soc__link {
  display: inline-block;
  padding: 0 10px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease
}

.soc__link:hover {
  transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4)
}

@media screen and (max-width:1100px) {
  h1 {
    width: 100%
  }

  .icons {
    margin-left: 4px;
    top: 6%
  }

  .slider__control {
    margin-left: 10px
  }
}

@media screen and (max-width:992px) {
  .offer {
    position: static;
    width: 100%
  }

  .cont__infos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }

  .cont__info {
    padding-left: 0
  }

  .cont__img {
    margin-right: auto;
    margin-bottom: 10px
  }
}

@media screen and (max-width:768px) {
  .icons {
    margin-left: 4px;
    top: 0
  }

  .slider__control {
    margin-left: 10px
  }

  .cont,
  .usenav {
    margin-top: 35px
  }

  .soc {
    margin-top: 25px;
    text-align: center
  }

  .cont__infos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
  }

  .cont__info {
    padding-left: 15px
  }

  .cont__img {
    margin-right: 0;
    margin-bottom: 0
  }

  h3 {
    font-size: 17px
  }

  .slick-field__text {
    font-size: 11px
  }
}

@media screen and (max-width:576px) {
  .icons {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly
  }

  .slider__control {
    display: none
  }

  .supp {
    margin-top: 25px
  }

  .pol {
    text-align: center
  }

  .posts {
    margin-top: 25px;
    padding-top: 8px
  }

  .sec-slider {
    padding-top: 50px
  }

  .search {
    margin-top: 30px
  }

  h1 {
    font-size: 38px
  }

  h2 {
    font-size: 36px
  }

  .tab__link {
    font-size: 11px
  }

  .btn {
    width: 100px;
    height: 40px;
    line-height: 40px
  }

  .cont__info {
    width: 95%;
  }
}

.slick-slider {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.slick-list,
.slick-slider {
  position: relative;
  display: block
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0
}

.slick-list:focus {
  outline: none
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0)
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: ""
}

.slick-track:after {
  clear: both
}

.slick-loading .slick-track {
  visibility: hidden
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

[dir=rtl] .slick-slide {
  float: right
}

.slick-slide img {
  display: block
}

.slick-slide.slick-loading img {
  display: none
}

.slick-slide.dragging img {
  pointer-events: none
}

.slick-initialized .slick-slide {
  display: block
}

.slick-loading .slick-slide {
  visibility: hidden
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent
}

.slick-arrow.slick-hidden {
  display: none
}

.slick-loading .slick-list {
  background: #fff url(ajax-loader.gif) 50% no-repeat
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none
}

.slick-next,
.slick-next:focus,
.slick-next:hover,
.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: none;
  background: transparent
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1
}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: .25
}

.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-prev {
  left: -25px
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto
}

.slick-prev:before {
  content: "←"
}

[dir=rtl] .slick-prev:before {
  content: "→"
}

.slick-next {
  right: -25px
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px
}

.slick-next:before {
  content: "→"
}

[dir=rtl] .slick-next:before {
  content: "←"
}

.slick-dotted.slick-slider {
  margin-bottom: 30px
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0
}

.slick-dots li,
.slick-dots li button {
  width: 20px;
  height: 20px;
  cursor: pointer
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent
}

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: none
}

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1
}

.slick-dots li button:before {
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: .25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #000
}
